.formContainer {
    position: fixed;
    background-color: rgba(68, 122, 141, 0.7);
    width: 500px;
    height: 300px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.loginTitle {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: white;
}